<!-- information page -->
 <!DOCTYPE html>
 {% extends "base.html" %}

{% block title %}Brain Translator{% endblock %}

{% block header_title %}Brain Translator{% endblock %} 

{% block content %}

            <p>Some learners aren’t given the tools they need, not because they’re incapable,
                but because the system wasn’t designed with minds like theirs in mind.
                <br><br>
                BrightWired is a toolkit built for neurodivergent learners who think differently and learn differently.
                Instead of forcing brains to fit into conventional study methods, BrightWired does the opposite.
                It adapts to <em>you</em>.
                Because neurodivergence doesn’t need to be fixed. It isn’t a flaw.
                <strong>It’s a different perspective — one that deserves to be understood and designed for.</strong>
            </p>
            <section>
                <h2>Who It's For</h2>
                <p>BrightWired is meant for students who feel that traditional study methods are unreliable, overwhelming or simply unsuited to how they learn — whether they’re dyslexic, have ADHD or just learn in a way that’s different.</p>
            </section>

            <section>
                <h2>Features at a Glance</h2>
                <ul>
                    <li>Distraction-free reading mode and UI</li>
                    <li>Customizable font and color settings</li>
                    <li>Timers with gentle reminders for scheduled tasks</li>
                    <li>Neuro - friendly planner<br>
                    <li>Summarisation Tools</li>
                </ul>
            </section>

            <p>Change the way you learn today.</p>

{% endblock %} 